@charset "utf-8";

body {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: "Microsoft YaHei", '宋体', Arial, Helvetica, sans-serif;
    /*background-color: rgb(17, 17, 17);*/
}

/*div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, textarea {*/
    /*margin: 0px;*/
    /*padding: 0px;*/
/*}*/

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

area {
    outline: none;
}

img {
    border: 0px;
}

ol, ul {
    list-style: none;
}

a {
    font-family: "Microsoft YaHei", '宋体', Arial, Helvetica, sans-serif;
    text-decoration: none;
    outline: none;
  color: #000000;
}

a:hover {
    text-decoration: none;
}

.clearfix::after {
    content: " ";
    display: block;
    height: 0px;
    clear: both;
    zoom: 1;
}
@font-face {
    font-family: 'fu-Web-Font';
    src:  url('../fonts/fu-Web-Font.eot?fdmh83');
    src:  url('../fonts/fu-Web-Font.eot?fdmh83#iefix') format('embedded-opentype'),
    url('../fonts/fu-Web-Font.ttf?fdmh83') format('truetype'),
    url('../fonts/fu-Web-Font.woff?fdmh83') format('woff'),
    url('../fonts/fu-Web-Font.svg?fdmh83#fu-Web-Font') format('svg');
    font-weight: normal;
    font-style: normal;
}
#apps{
  /*margin-top: 0.78rem;*/
  margin-bottom: 0.86rem;
}
